body {
    background-color: #eee;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#calc {
    width: 280px;
    padding: 20px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    background: #000;
}

#inputNum {
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 16px;
    resize: none;
}

.btn {
    margin: 5px;
    width: 60px;
    height: 60px;
    background: grey;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    border-radius: 50px;
    user-select: none;
    transition: all 0.3s;

    &:nth-child(2) {
        width: 130px;
        background: #ccc;
    }

    &:nth-child(3) {
        background: #ccc;
    }

    &:nth-child(4),
    &:nth-child(8),
    &:nth-child(12),
    &:nth-child(16),
    &:nth-child(19) {
        background-color: #fca504;
    }

    &:nth-child(17) {
        width: 130px;
        text-align-last: center;
    }

    &:hover {
        background: #fff;
        color: #000;
        cursor: pointer;
    }
}