html,
body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'roboto';
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,p {
    margin: 0;
}
.u {
text-transform: uppercase;
}
.container {
    background-color: #fff;
}
// ----------------
// -----HEADER-----
// ----------------
.header {
    width: 100%;
    min-height: 80px;

    display: flex;
    align-items: center;
    &_nav {

        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: center;
       
        list-style-type: none;
        &_item {
            margin-right: 60px;
            text-decoration: none;
            font-size: 1.8rem;
            font-weight: 600;
            color: #26a68d;
            text-transform: uppercase;
            transition: all .3s ease;
            &:hover {
                color:#2cc4a5;
            }
        }
    }

}
// ----------------
// ------MAIN------
// ----------------
.main {
    &_bigimg {
        width: 100%;
        min-height: 790px;
        background: url('../img/mainimg.png') center/ cover no-repeat;
    }
    &_content {
        background-color: #f5f6f7;
        padding: 6rem 8.5rem 9rem;
        &_title {
            text-transform: uppercase;
            text-align: center;
            font-size: 2.2rem;
        }
        &_text {
            text-align: center;
            margin-top: 3rem;
            font-size: 1.6rem;
            line-height: 2.5rem;
            font-weight: 500;
        }
        &_btn {
           
            display: block;
            margin: 3rem auto 0;
            padding: 13px 30px;
            font-size: 1.2rem;
            color:#fff;
            border: none;
            border-radius: 4px;
            box-shadow: 0 0 1px 1px #eee;
            background-color: #16a085;
            font-weight: 500;
            transition: all .3s ease;
            cursor: pointer;
            &:hover {
                background-color:#2cc4a5;
            }
        }
    }
}
// ----------------
// -----FOOTER-----
// ----------------
.footer {
    padding: 4rem 9rem;
    &_text {
        text-align: right;
        font-size: 1.6rem;
        font-weight: 500;
    }
}
